@model TurnyruSistema.Models.KompiuteriuZona

@{
    ViewData["Title"] = "Edit";
}

<h2>Kompiuterių zona</h2>

<h4>Redaguoti kompiuterių zoną</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pavadinimas" class="control-label"></label>
                <input asp-for="Pavadinimas" class="form-control" />
                <span asp-validation-for="Pavadinimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KompiuteriuSkaicius" class="control-label"></label>
                <input asp-for="KompiuteriuSkaicius" class="form-control" />
                <span asp-validation-for="KompiuteriuSkaicius" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TurnyrasId" />
            <div class="form-group">
                <input type="submit" value="Redaguoti" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.TurnyrasId">Gryžti</a>
    @*<a asp-action="AddComputerZone" asp-route-id="@Model.Id">Pridėti kompiuterių zoną</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
