@model TurnyruSistema.Models.Zinute

@{
    ViewData["Title"] = "Warning";
}

<h2>Įspėjimo priežasties žinutė</h2>

<h4>Žinutės duomenys</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tema" class="control-label"></label>
                <input asp-for="Tema" class="form-control" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turinys" class="control-label"></label>
                <input asp-for="Turinys" class="form-control" />
                <span asp-validation-for="Turinys" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssiuntimoData" class="control-label"></label>
                <input asp-for="IssiuntimoData" class="form-control" />
                <span asp-validation-for="IssiuntimoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Messages">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}